.box{
    background-color: purple;
    width: 100%;
}

.box.medium{
    height: 200px;
}

.padding.default{
    padding: 15px;
}

.padding.small {
    padding:5px;
}

.music.player{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 41px;
    width: 100%;
}

.music.player .icon{
    margin: 0 !important;
}

.music.player .progress {
    cursor: pointer;
}

.music.player .bar {
    min-width:0px;
}

.app.container{
    padding-bottom: 41px;
}

img.hero{
    width: 100%;
}

.hero {
    max-height:300px;
    overflow: hidden;
}

.hero img{
    max-width:100%;
}