<section class="module parallax" style="background-image: url('https://s5.postimg.org/mnia64xpj/20161201_190735000_i_OS.jpg');">
    <div class="default padding">
        <h1>Experience</h1>
    </div>
</section>

<div class="ui text container default padding">

    <h4 class="ui horizontal divider header">
        <i class="calendar icon"></i> Upcoming
    </h4>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Name</th>
                <th>Performances</th>
                <th>Repertoire</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2017</td>
                <td>RNCM 40 Cellos</td>
                <td>Strings Festival</td>
                <td>
                    <ul>
                        <li>
                            Tallis, <i>Spem in Alium</i>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td> 2017</td>
                <td>&Egrave;mbechet Trio</td>
                <td>RNCM Nossek Prize</td>
                <td>
                    <ul>
                        <li>
                            Schumann, <i>Piano Trio No. 3 in G minor, Op. 110</i>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2017</td>
                <td>RNCM Symphony Orchestra</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            Bartok <i>Piano Concerto No. 2, Sz. 95</i>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h4 class="ui horizontal divider header">
        <i class="user icon"></i> Solo
    </h4>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Name</th>
                <th>Performances</th>
                <th>Repertoire</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2017</td>
                <td>Recital</td>
                <td>Felixstowe New Years Day Concert</td>
                <td>
                    <ul>
                        <li>
                            Beethoven, <i>Sonata in A major, Op. 69</i>
                        </li>
                        <li>Faur&eacute;, <i>Sicilienne, Op. 78 </i>and <i>Papillon, Op. 77</i>
                        </li>
                        <li>Haydn, <i>Cello Concerto in D major</i>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h4 class="ui horizontal divider header">
        <i class="users icon"></i> Chamber Music 
    </h4>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Name</th>
                <th>Performances</th>
                <th>Repertoire</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2017</td>
                <td>&Egrave;mbechet Piano Trio</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            Schumann, <i>Piano Trio No. 3 in G minor, Op. 110</i>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2016</td>
                <td>Arc Piano Trio</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            Beethoven, <i>Piano Trio in D major</i>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2016</td>
                <td>Trillo Cello Trio</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            Pop and Classical crossovers
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h4 class="ui horizontal divider header">
        <i class="music icon"></i> Orchestral
    </h4>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Name</th>
                <th>Performances</th>
                <th>Repertoire</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016</td>
                <td>RNCM Concert Orchestra, front desk</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            Brahms, <i>Academic Festival Overture, Op. 80</i>
                        </li>
                        <li>
                            Brahms, <i>Tragic Overture, Op. 81</i>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2016</td>
                <td>Swing Orchestra, principal</td>
                <td>Manchester Day</td>
                <td>
                    <ul>
                        <li>
                            Jazz and Classical crossovers
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2016</td>
                <td>RNCM Brand New Orchestra</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            RNCM Compositions
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2012-16</td>
                <td>Suffolk Youth Orchestra, principal</td>
                <td>Tours to Italy, Germany, Slovakia and Czech Republic</td>
                <td>
                    <ul>
                        <li>
                            Shostakovich <i>Symphony No. 5 in D minor, Op. 47</i>
                        </li>
                        <li>
                            Vaughan Williams <i>A London Symphony</i>
                        </li>
                        <li>
                            Britten <i>War Requiem</i>
                        </li>
                        <li>
                            Elgar <i>Variations on an Original Theme, Op. 36</i>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h4 class="ui horizontal divider header">
        <i class="student icon"></i> Teaching and Outreach
    </h4>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016-17</td>
                <td>RNCM Outreach Childrens Opera</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>Pedagogy workshop led by Sarah Crooks</td>
            </tr>
            <tr>
                <td>2013-15</td>
                <td>Private piano and cello tuition</td>
            </tr>
        </tbody>
    </table>
</div>