$music-player-height: 47px;

.body{
    background: #EEEEF2;
}

.box{
    background-color: purple;
    width: 100%;
}

.box.medium{
    height: 200px;
}

.padding.default{
    padding: 15px;
}

.padding.small {
    padding:5px;
}

.music.player{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: $music-player-height;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    box-shadow: 3px 3px 45px 0px rgba(0,0,0,.3);
    -webkit-box-shadow: 3px 3px 45px 0px rgba(0,0,0,.3);
    -moz-box-shadow: 3px 3px 45px 0px rgba(0,0,0,.3);
}

.music.player .play-pause.button{
    background-image: url(../media/20161102_170639690_iOS.jpg);
    background-size: cover;
}

.music.player a[hidden]{
    display:none;
}

.music.player .progress {
    cursor: pointer;
    border-radius: 0 !important;
}

.music.player h4, .music.player p{
    line-height: 32px;
}

.music.player .bar {
    min-width:0px;
}

.app.container{
    padding-bottom: $music-player-height;
}

img.hero{
    width: 100%;
}

.hero {
    max-height:300px;
    overflow: hidden;
}

.hero img{
    max-width:100%;
}
