<section class="module parallax" style="background-image: url('https://s5.postimg.org/lv53gvcfb/20161102_170420000_i_OS.jpg');">
    <h1>Bio</h1>
</section>

<div class="ui text container default padding">
    <h4 class="ui horizontal divider header">
        <i class="user icon"></i>
        About Natalie
    </h4>

    <p>
        Natalie Bechmann enjoys solo playing, frequently partaking in concerts and competitions. She earned a place at the Royal 
        Northern College of Music with the Haydn <i>Cello Concerto in C major</i> and Martinu&rsquo;s <i>Variations of a Slovak Theme</i>. In the 
        past month, she played Faur&eacute;&rsquo;s <i>Papillon</i> in the RNCM Salon Prize and put on a New Year&rsquo;s Day concert in Felixstowe, 
        Suffolk, playing Haydn&rsquo;s Cello Concerto in D major and the Beethoven Cello Sonata in A major. She also acquired a 
        distinction in her ABRSM Diploma in 2015 as well as her Grade 8 in 2013. For her ABRSM Diploma, she played Chopin&rsquo;s 
        <i>Sonata for Cello and Piano in G minor</i>, Bach&rsquo;s <i>Cello Suite in C major</i> and Martinu&rsquo;s <i>Variations on a Theme of Rossini</i>.
    </p>
    <p>
        As an enthusiast of chamber music, Natalie plays in several ensembles. In the past, she has had experience of
        professional engagements with the Avocet Quartet. She now competes regularly in the RNCM Chamber Music prizes with the 
        Obsidian, Arc and &Egrave;mbechet Piano Trios. As part of these trios, she has particularly enjoyed playing the Lalo <i>Piano
        Trio in C minor</i> and Beethoven, <i>&lsquo;Ghost&rsquo;</i>. She also enjoys pop crossover music with the Trillo Cello Trio. She frequently 
        arranges music of different genres for Trillo.
    </p>
    <p>
        Orchestral playing in another passion of Natalie&rsquo;s. At the RNCM, she has been on front desk of the RNCM Concert Orchestra, 
        playing Brahms&rsquo; <i>Academic Festival and Tragic Overtures</i>, and was the principal of a Swing Orchestra gig on Manchester 
        Day 2016. She also has experience playing new compositions with the RNCM Brand New Orchestra. During her time in Suffolk, 
        she was principal cellist of the Suffolk Youth Orchestra, notably playing Britten&rsquo;s <i>War Requiem</i>, Elgar&rsquo;s <i>&lsquo;Enigma&rsquo; Variations</i>, 
        Shostakovich&rsquo;s <i>Symphony No. 5</i> and Vaughan Williams&rsquo; <i>A London Symphony</i>. She was also a frequent player in the Kingfisher and 
        Wolsey Orchestras, particularly enjoying the concert of Beethoven&rsquo;s <i>Symphony No.9</i> and Mozart&rsquo;s <i>Requiem</i> at the world-renowned 
        concert hall, Snape Maltings.


    </p>

    <h4 class="ui horizontal divider header">
        <i class="calendar icon"></i>
        Events
    </h4>

    <p>
        Natalie is involved in several upcoming Chamber Music prizes at the RNCM. As part of the &Egrave;mbechet Piano Trio, she will be 
        playing Schumann&rsquo;s <i>Piano Trio No.3</i> at the Nossek Prize in January, as well as Mozart and Shostakovich at the Weil Prize in 
        March. She will also be competing in the Weil Prize with the Arc Piano Trio, playing Haydn and Bridge. As part of the RNCM 
        Symphony Orchestra, Natalie will additionally be playing the Bartok <i>Piano Concerto No. 2</i> in April.
    </p>
</div>

