<section class="module parallax" style="background-image: url('https://s5.postimg.org/f7zjxt7s7/20161201_192421000_i_OS.jpg');">
    <h1> Nat Bechmann</h1>
</section>

<section class="module content">
    <div class="default padding">
        <div class="ui text container">
            <h4 class="ui horizontal divider header">
                <i class="user icon"></i>
                About Natalie
            </h4>
            <p>
                Natalie Bechmann grew up part of a musical family in Suffolk, England. From an early age, she harboured a passion for music 
                and started the cello aged 5. Throughout her childhood, she was taught by soloist and ex-member of the Ulster Orchestra, 
                Susanna Graham. Regular lessons with her enabled Natalie to take part in the Suffolk County Music scene. She was part of South 
                Suffolk Young Strings, South Suffolk Youth Orchestra and Suffolk Youth Orchestra for many years, becoming principal cellist 
                of all three. She also competed regularly in the Suffolk Festival, earning awards for Best Recital, String Champion and 
                Suffolk Chamber Players in 2014. At this point she also began teaching both cello and piano, coaching a range of different 
                ages and standards. She then began learning with international soloist and teacher at Trinity Laban College of Music, 
                Naomi Butterworth, and secured a place at the RNCM. Now in second year, she studies with the Hall&eacute; principal of cello 
                and soloist, Nicholas Trygstad. At the RNCM, Natalie has taken an interest in many different areas of music, including classical 
                chamber groups, orchestras and solos, plus collaborative pop crossover projects. Read More.
            </p>

        </div>
    </div>
</section>

<section class="module parallax" style="background-image: url('https://s5.postimg.org/fnff4kj3b/20161201_183823000_i_OS.jpg');">
    <h1>RNCM BMus</h1>
</section>

<section class="module content">
    <div class="default padding">
        <div class="ui grid cards">
            <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let item of infoItems">
                <div class="ui card" style="width:100%;">
                    <div class="content">
                        <i class="right floated like icon"></i>
                        <i class="right floated star icon"></i>
                        <div class="header">{{item.title}}</div>
                        <div class="description">
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="left floated like">
                            <i class="like icon"></i>
                            Like
                        </span>
                        <span class="right floated star">
                            <i class="star icon"></i>
                            Favorite
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module parallax" style="background-image: url('https://s5.postimg.org/5td30jtt3/20161102_165447750_i_OS.jpg');">
    <div class="default padding">
        <h1>ABRSM DIPLOMA</h1>
    </div>
</section>

<section class="module content">
    <div class="default padding">
        <div class="ui text container">
            <h4 class="ui horizontal divider header">
                <i class="user icon"></i>
                Ensembles
            </h4>
            <p>
                Natalie plays regularly with several chamber music groups, including Trillo Cello Trio, &Egrave;mbechet Piano Trio and Arc Piano
                Trio. All three groups were founded at the RNCM. Both piano trios compete regularly at the RNCM, playing pieces such as
                Schumann&rsquo;s <i>Piano Trio No. 3</i> and Beethoven&rsquo;s <i>&lsquo;Ghost&rsquo;</i>. Arc Piano Trio was created in 2016, and includes Nastasia Loucaidou
                on piano and Raye Harvey on cello. The &Egrave;mbechet Piano Trio was established in early 2017, involving Laura Embrey on violin
                and Mackenzie Paget on piano. Trillo is a Pop-Classical crossover group comprised of fellow second year cellists Reyan
                Murtadha and Rachel Newbold. They frequently do low-key performances of their repertoire, such as busking in the Manchester
                City Centre. Crowd favourites include Adele&rsquo;s <i>Rolling in the Deep</i>, Coldplay&rsquo;s <i>Magic</i> and their Game of Thrones Season 5
                medley. All their repertory is arranged or composed by members of the group. 
            </p>

        </div>
    </div>
</section>
