<section class="module parallax" style="background-image: url('https://s5.postimg.org/54gaum1t3/IMG_4468_1.jpg');">
    <h1>Bechmann</h1>
</section>

<section class="module content">
    <div class="default padding">
        <div class="ui text container">
            <h4 class="ui horizontal divider header">
                <i class="user icon"></i>
                About myself
            </h4>
            <p>
                What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of
                a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                by accident, sometimes on purpose (injected humour and the like). Where does it come from? Contrary to popular belief,
                Lorem Ipsum is not simply random text.

            </p>

        </div>
    </div>
</section>

<section class="module parallax" style="background-image: url('../media/IMG_4455(1).jpg');">
    <h1>Rise</h1>
</section>

<section class="module content">
    <div class="default padding">
        <div class="ui grid cards">
            <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let item of infoItems">
                <div class="ui card" style="width:100%;">
                    <div class="content">
                        <i class="right floated like icon"></i>
                        <i class="right floated star icon"></i>
                        <div class="header">{{item.title}}</div>
                        <div class="description">
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="left floated like">
                            <i class="like icon"></i>
                            Like
                        </span>
                        <span class="right floated star">
                            <i class="star icon"></i>
                            Favorite
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module parallax" style="background-image: url('https://s5.postimg.org/l6iu101if/Full_Size_Render_2.jpg');">
    <div class="default padding">
        <h1>Calm</h1>
    </div>
</section>

<section class="module content">
    <div class="default padding">
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
</section>