<section class="module parallax parallax-1">
    <h1>Serene</h1>
</section>

<section class="module content">
    <div class="default padding">
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
</section>

<section class="module parallax parallax-2">
    <h1>Rise</h1>
</section>

<section class="module content">
    <div class="default padding">
        <div class="ui grid cards">
            <div class="four wide computer eight wide tablet sixteen wide mobile column" *ngFor="let item of infoItems">
                <div class="ui card" style="width:100%;">
                    <div class="content">
                        <i class="right floated like icon"></i>
                        <i class="right floated star icon"></i>
                        <div class="header">{{item.title}}</div>
                        <div class="description">
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="left floated like">
                            <i class="like icon"></i>
                            Like
                        </span>
                        <span class="right floated star">
                            <i class="star icon"></i>
                            Favorite
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="module parallax parallax-3">
    <div class="default padding">
        <h1>Calm</h1>
    </div>
</section>

<section class="module content">
    <div class="default padding">
        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    </div>
</section>