<div class="default padding">
    <div *ngFor="let experienceCollection of experienceCollections">
        <h4 class="ui horizontal divider header">
            <i class="users icon"></i> {{experience.name}}
        </h4>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Name</th>
                    <th>Performances</th>
                    <th>Repertoire</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let experienceItem of experienceCollection.experiences">
                    <td>{{experienceItem.year}}</td>
                    <td>{{experienceItem.name}}</td>
                    <td>{{experienceItem.performances}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let piece of experienceItem.pieces">
                                {{piece.repertoire}} <i>{{piece.pieceName}}</i>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
    </div>
</div>